/* ========================= */
/* Breakpoints               */
/* ========================= */

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1440px,
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1440px,
);

/* ========================= */
/* Colours                   */
/* ========================= */

$primary: #000000;
$secondary:#F6A6DB;
$tertiary: #9A82DF;
$quaternary: #6852A6;
$quinary: #FFDB97;
$senary: #F4F4F4;
$septenary: #E0DEDE;
$white: #FFFFFF;
$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "tertiary": $tertiary,
  "quaternary": $quaternary,
  "quinary": $quinary,
  "senary": $senary,
  "septenary": $septenary,
  "white": $white,
);

/* ========================= */
/* Utilities                 */
/* ========================= */

$transition-base: all 0.25s ease;

/* ========================= */
/* Spacing                   */
/* ========================= */

$spacer: 0.25rem;
$enable-negative-margins: true;
$spacers: (
  0: 0,
  1: $spacer,
  2: $spacer * 2,
  3: $spacer * 3,
  4: $spacer * 4,
  5: $spacer * 5,
  6: $spacer * 6,
  7: $spacer * 7,
  8: $spacer * 8,
  9: $spacer * 9,
  10: $spacer * 10,
  11: $spacer * 11,
  12: $spacer * 12,
  13: $spacer * 13,
  14: $spacer * 14,
  15: $spacer * 15,
  16: $spacer * 16,
  17: $spacer * 17,
  18: $spacer * 18,
  19: $spacer * 19,
  20: $spacer * 20,
  21: $spacer * 21,
  22: $spacer * 22,
  23: $spacer * 23,
  24: $spacer * 24,
  25: $spacer * 25,
  26: $spacer * 26,
  27: $spacer * 27,
  28: $spacer * 28,
  29: $spacer * 29,
  30: $spacer * 30,
  35: $spacer * 35,
);

/* ========================= */
/* Typography                */
/* ========================= */

$font-awesome: "FontAwesome";
$font-family-sans-serif: "Raleway";
$font-size-base: 1.25rem;
$line-height-base: 1.5;
$font-weight-base: 200;
$h1-font-size: 4rem;
$h2-font-size: 3.75rem;
$h3-font-size: 3rem;
$h4-font-size: 2.5rem;
$h5-font-size: 2rem;
$h6-font-size: 1.5rem;
$headings-margin-bottom: 1.5rem;
$headings-font-family: "Raleway";
$headings-font-weight: 300;
$headings-line-height: 1.1;
$headings-color: inherit;
$body-color: $secondary;
$link-color: $primary;
$link-decoration: none;
$link-hover-color: darken($link-color, 15%);
$link-hover-decoration: none;